@using System.Drawing.Design
@model FinanceProjector.Web.Models.ViewModels.EditBudgetCatgegoryViewModel

@{
    ViewBag.Title = "Edit Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Category.Name</h2>

<div>
    <table class="table table-bordered">
        <tr><th>Category Item</th><th colspan="2">Transaction Matches</th></tr>
        @foreach (var item in Model.Category.CategoryItems)
        { 
            <tr>
                <td>@item.Name</td>
                <td>
                        <div id="@item.Name.Replace(" ", "_")" class="MatchList">
                            @Html.Partial("TransactionMatchList", item.TransactionMatches)
                        </div>
                <input type="button" class="AddMatchButton" data-categoryitem="@item.Name.Replace(" ", "_")" value="Add Match" /></td>
            </tr>    
        }
    </table>
</div>

@*<div id="MatchList" style="float: left;">
    @Html.Partial("TransactionMatchList", Model.Category.TransactionMatches)
</div>*@
<div id="AddMatch" style="float: left; margin-left: 20px; display:none;">
        @Html.Partial("AddTransactionMatch", Model.TransactionMatch)
</div>

@Html.HiddenFor(m => m.Category.Name, new { id="categoryName" })

@section scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/TransactionMatch.js")"></script>
}